footer {
    background-image: url("img/stroke-footer.png");
    background-size: 1920px 36px;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-top: 1px solid #982007;
    padding: 0;
}

.footer__container {
    display: flex;
    margin: 0 auto;
    padding: 17px 20px 36px 20px;
    align-items: center;
    max-width: 1280px;
    min-width: 650px;
    justify-content: space-between;
}

.contacts {
    display: grid;
    grid-template-areas: "socials mail";
    align-items: center;
    width: 1090px;
    list-style: none;
    padding: 0;
}
.footer__contacts {
    margin: 0;
}

.contacts__socials {
    grid-area: socials;
    justify-self: end;
}

.contacts__mail {
    grid-area: mail;
    justify-self: end;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.contacts__social-list{
    margin: 0;
}
