.packs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.pack-card {
    width: 280px;
    box-shadow: 0 0 2px 1px rgba(152, 32, 7, 0.5);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-areas: "cover"
                         "name" 
                         "price-n-btns";
    gap: 10px 20px;
}
.pack-card:hover{
    box-shadow: 0 0 3px 1px rgba(179, 26, 0, 0.8);
}

.pack-card__img-link {
    order: -1;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
    grid-area: cover;
    display: grid;
    gap: 10px;
}

.pack-card__cover {
    border-radius: 5px;
    object-fit: cover;
    height: 160px; 
    width: 100%;
}

.pack-card__name {
    padding: 0;
    font-size: 18px;
    margin: auto 0;
    grid-area: name;
 }
 .pack-card__name-link {
    text-decoration: none;
    color: #b31a00;
 }

 .pack-card__name-link:hover {
    color:#db583e;
}

.pack-card__price-n-btns {
    display: flex;
    grid-area: price-n-btns;
    justify-self: end;
    margin: auto 0;
}

.pack-card__price {
    margin-right: 20px;
    align-self: center;
}

.pack-card__buy {
    margin-right: 5px;
}
.pack-card__buy, .pack-card__add-favorites {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    padding: 2px 2px;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
}

.pack-card__buy:hover, .pack-card__add-favorites:hover {
    transform: scale(1.2);
}
.pack-card__buy:active, .pack-card__add-favorites:active {
    transform: scale(0.8);
}

.favorite_border, .favorite_checked{
    position: absolute;
    top: 4px;
	bottom: 0;
	left: 0;
	right: 0;
    transform: scale(1.2);
}
.favorite_checked {
    z-index: -1;
    color: #b31a00;
    opacity: 1;
    transition: opacity 0.3s;
}
.favorite_checked.hidden {
    opacity: 0;
}


/* УВЕЛИЧЕННЫЙ ЗУМ */

.pack-market:has(.zoom-btn__checkbox:checked)  .pack-card {
    width: 390px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 390px 1fr;
    grid-template-areas: "cover cover"
                         "name price-n-btns";
}

.pack-market:has(.zoom-btn__checkbox:checked)  .pack-card__img-link,
.pack-market:has(.zoom-btn__checkbox:checked)  .pack-card__cover {
    height: 390px;
}

/* ВИД ФОРМАТА СПИСОК */

.pack-market:has(.view-btn__checkbox:checked) .pack-card {
    width: 100%;
    grid-template-columns: auto;
    grid-template-areas: "cover cover"
                         "name price-n-btns";
}

.pack-market:has(.view-btn__checkbox:checked)  .pack-card__img-link {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* размер колонок в случае увеличенного зума */
.pack-market:has(.zoom-btn__checkbox:checked)  .pack-card__img-link {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
