.slider {
    /* position: relative;
    max-width: 1280px; */
    margin: 0 auto;

    outline: red dotted 2px;
}

.slider__toggle {
display: none;
}

.slider__controls {
position: absolute;
top: 598px;
left: 398px;
left: calc(50% - 25px);
text-align: center;
z-index: 10;
display: flex;
justify-content: center;
gap: 10px;
}

.slider__label {
box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
border-radius: 50%;
width: 10px;
height: 10px;
display: inline-block;
cursor: pointer;
border: rgba(255, 255, 255, 0.8) 3px solid;
background-color: rgba(151, 151, 151, 0.5);
}
.slider__label:hover{
border: rgba(255, 255, 255, 1) 3px solid;
}
#btn-1:checked ~ .slider__controls .slider__label[for=btn-1] {
background-color: #bd1f00;
border: rgba(255, 255, 255, 1) 3px solid;
}
#btn-2:checked ~ .slider__controls .slider__label[for=btn-2] {
background-color: #bd1f00;
border: rgba(255, 255, 255, 1) 3px solid;
}
#btn-3:checked ~ .slider__controls .slider__label[for=btn-3] {
background-color: #bd1f00;
border: rgba(255, 255, 255, 1) 3px solid;
}

.slider__img-container {
    /* width: 80%; */
    margin: 0 auto;
    /* overflow: hidden;
    max-height: 300px; */

    outline: green dotted 1px;
}

.slider__slides {
    display: flex;
    width: 100%;

    transition: transform  1.5s;

    outline: purple 1px solid;
}
#btn-1:checked ~ .slider__img-container .slider__slides {
transform: translateX(0);
}
#btn-2:checked ~ .slider__img-container .slider__slides {
transform: translateX(-33.333%);
}
#btn-3:checked ~ .slider__img-container .slider__slides {
transform: translateX(-66.666%);
}

.arrow {
width: 50px;
height: 50px;
box-shadow: 2px 3px 0 0 #982007;
border: 0;
border-radius: 3px;
background-color: rgba(255, 255, 255, 0);
transition: transform 0.5s;
cursor: pointer;
}
.slider__arrow-left {
position: absolute;
z-index: 1;
top: 50%;
left: 50px;
left: 5%;
}
.arrow-left{
transform: scale(-1, 1) rotate(-45deg);
}
.arrow-left:hover{
box-shadow: 2px 3px 0 0 #db583e;    
transform: scale(-1.1, 1.1) rotate(-45deg);
}
.slider__arrow-right {
position: absolute;
z-index: 1;
top: 50%;
left: 750px; 
left: 90%; 
}
.arrow-right {
transform: rotate(-45deg);
}
.arrow-right:hover {
box-shadow: 2px 3px 0 0 #db583e;
transform: rotate(-45deg) scale(1.1);
}

.slider__picture {
    margin: 0;
    /* float: left; */
    /* width: calc(100%/3); */
    /* height: 700px; */

    outline: green 1px dotted;
}

.slider__img {
    width: 100%;
    max-height: 550px;
    /* height: auto; */
    margin-bottom: 5px;
}

.slider__desc {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}