
.sorting {
    text-align: right;
    padding: 5px 5px 20px;
    background: linear-gradient(to bottom, white 0px, white 50px, transparent 100%);

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

    /* outline: auto; */
}

.sort-options {
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}


.sort-order-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    width: 20px;
    height: 40px;
}
.sorting__sort-order-btn {
    position: relative;
    margin-left: 10px;
}
.sorting__sort-order-btn:has(.sort-order-btn__checkbox:focus-visible) {
    outline:  #ff5f3f solid 2px;
    /* box-shadow: #bd1f00 0 0 3px 3px; */
    border-radius: 4px;
    outline-offset: 2px;
}

.sort-order-btn__icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sort-order-btn__checkbox + .sort-order-btn__icon::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-120%) translateX(-50%);

    border: 7px solid transparent;
    border-top-width: 0;
    border-bottom: 15px solid #b31a00;

    opacity: 0.5;
}
.sort-order-btn__checkbox + .sort-order-btn__icon::after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(20%) translateX(-50%);

    border: 7px solid transparent;
    border-bottom-width: 0;
    border-top: 15px solid #b31a00;

    opacity: 1;
}

.sort-order-btn__checkbox:checked + .sort-order-btn__icon::before {
    opacity: 1;
}
.sort-order-btn__checkbox:checked + .sort-order-btn__icon::after {
    opacity: 0.5;
}


.view-btn {
    margin-left: 20px;
    cursor: pointer;
}
.view-btn:has(.view-btn__checkbox:focus-visible) {
    outline:  #ff5f3f solid 2px;
    /* box-shadow: #bd1f00 0 0 3px 3px; */
    border-radius: 4px;
    outline-offset: 2px;
}

.view-btn__icon_view-list, .view-btn__icon_view-module {
    vertical-align: middle;
    transform: scale(1.2);
    user-select: none;
    /* outline: auto; */
}

.view-btn__checkbox:checked ~ .view-btn__icon_view-list {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}
.view-btn__checkbox:not(:checked) ~ .view-btn__icon_view-module {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}

.view-btn__icon_view-list:hover, .view-btn__icon_view-module:hover {
    color: rgba(179, 26, 0, 0.8);
}
.view-btn__icon_view-list:active, .view-btn__icon_view-module:active {
    color: rgba(179, 26, 0, 0.5);