/* базовые и сбросы */
body {
    margin: 0 auto;
    width: 1900px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* a {
    text-decoration: none;
    color: #b31a00;
}
a:hover {
    color:#db583e;
}
a:visited {
    color:#982007;
} */

.visually-hidden { 
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}

/*  тело  */

.main {
    width: 1280px;
    margin: 0 auto;
}

.main__block {
    margin-bottom: 60px;
}

.article-header {
    color: #b31a00;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}
.main__header {
    margin:  0;
    margin-bottom: 10px;
}

.lead {
    text-align: center;
    font-size: 20px;
}
.main__lead {
    margin-bottom: 10px;
}

/*  слайлер с работами  */

.header-hero {
    font-size: 30px;
    color: #bd1f00;
    text-align: center;
    padding: 0;
}
.hero__header {
    margin-top: 30px;
}


/*  следующие курсы   */

.next-courses h2 {
    margin-bottom: 10px;
}

.next-courses .next-course {
    margin-bottom: 10px;
    gap: 15px;
    border-top: #b31a00 2px solid;
    border-bottom: #b31a00 2px solid;
}

.next-courses .next-course:nth-of-type(odd) {
    display: grid;
    grid-template-areas: "image header"
                         "image info";
    /* background-image: linear-gradient(to right, #982007, white); */
}

.next-courses .next-course:nth-of-type(even) {
    display: grid;
    grid-template-areas: "header image "
                         "info image ";
    /* background-image: linear-gradient(to left, #982007, white); */
    text-align: right;
}

.next-course h3 {
    grid-area: header;
    align-self: self-end;
}

.next-course > a {
    grid-area: image;
}
.next-course img {
    display: block; 
    object-fit: cover;
    width: 800px;
    height: 400px; 
}

.next-course .info {
    grid-area: info;
}

.next-course .dates {
    font-weight: bold;
    margin-bottom: 5px;
}

.next-course .desc {
    margin-bottom: 5px;
}

.next-course .details {
    margin-bottom: 25px;
    display: block;
}
.next-course .details:hover {
    text-decoration: underline;
}

.next-course .book {
    background-color: #b31a00;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}
.next-course .book:hover {
    background-color: #db583e;
}
.next-course .book:active {
    background-color: #982007;
}

/*  предстоящие курсы  */

.new-courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* outline: #090798 1px dotted; */
    gap: 20px;
}

.new-course {
   padding: 15px 40px;
   border: #982007 1px solid;
    font-size: 25px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    /* flex-grow: 1; */
}

.let-me-know {
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    padding: 2px 2px;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    margin-left: 60px;
    margin-right: 10px;
}
.let-me-know .material-icons {
    transform: scale(1.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.let-me-know .material-icons.checked {
    color: green;
}
.let-me-know .material-icons.hidden {
    opacity: 0;
}
.let-me-know:hover {
    transform: scale(1.2);
}



/* футер  */

footer {
    background-image: url("../img/stroke-footer.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    border-top: 1px solid #982007;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

.footer-container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 36px;
    align-items: center;
}

.contacts {
    display: grid;
    align-items: center;
    width: 1090px;
    grid-template-areas: "socials mail";
}

.contacts > li:first-child {
    grid-area: socials;
    justify-self: end;
}

.contacts > li:last-child {
    justify-self: end;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 10px;
}

