.visually-hidden { 
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}

body {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.main {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 150px;
    /* max-width: 1280px; */
    min-width: 650px;
}

.main__block {
    margin: 0 auto;
    margin-bottom: 60px;
}
.main__block:nth-child(1) {
    margin-top: 30px;
}

.header-hero {
    font-size: 30px;
    color: #bd1f00;
    text-align: center;
    padding: 0;
}

.header-article {
    font-size: 25px;
    color: #b31a00;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}
.main__header {
    margin:  0;
    margin-bottom: 10px;
}

.lead {
    font-size: 20px;
    text-align: center;
    font-size: 20px;
}
.main__lead {
    margin-bottom: 10px;
}

.main__next-course {
    margin-bottom: 10px;
}

.main__new-courses {
    margin-top: 20px;
}

.body__footer {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    /* margin: 0;
    margin-top: 100px; */
}