.filters {
    width: 200px;
}

.pack-market__filters {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    margin-right: 20px;
    float: left;
}

.filters__header {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas: "button-open title button-close";
    align-items: center;
}

.filters__title {
    margin: 0;
    grid-area: title;
    font-size: 18px;
    text-align: center;
}
.filters:has(.filters__toogle-checkbox:checked) .filters__title {
    text-align: left;
}

.filters__toogle-btn {
    grid-area: button-close;
    width: 25px;
    height: 25px;
    color: rgba(179, 26, 0, 1);
    opacity: 1;

    cursor: pointer;
    user-select: none;
}
.filters__toogle-btn:hover {
    opacity: 0.8;
}
.filters__toogle-btn:active {
    opacity: 0.5;
}
.filters__toogle-btn:has(.filters__toogle-checkbox:focus-visible) {
    outline:  #ff5f3f solid 2px;
    border-radius: 4px;
}
.filters__toogle-btn:has(.filters__toogle-checkbox:checked) {
    grid-area: button-open;
}

.filters__toogle-icon {
    transform: scale(1.2);   
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.filters__toogle-checkbox:checked ~ .filters__toogle-icon {
    transform: scale(1.2) rotate(180deg);
}

.filters__group {
    margin-top: 9px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: rgba(179, 26, 0, 0.5) 2px solid;
    border-radius: 5px;
}

.filters:has(.filters__toogle-checkbox:checked) .filters__group {
    display: none;
}

.filters__group-name {
    font-weight: bold;
    text-align: center;
}

.filter-btn__prices {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    text-align: center;
}
.filter-btn__price-input {
    width: 100%;
}

.filter-btn__desc {
    position: relative;
    padding-left: 23px;
    display: block;
}

.filter-btn__desc:hover {
    opacity: 0.7;
}
.filter-btn__desc:active {
    opacity: 0.5;
}

.filter-btn__desc::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: rgba(179, 26, 0, 0.5) 1px solid;
    border-radius: 5px;
    background-color: transparent;
}
.filter-btn:has(.filter-btn__checkbox:checked) .filter-btn__desc::before {
    border: rgba(179, 26, 0, 1) 1px solid;
    background-color: rgba(179, 26, 0, 0.7);
}

.filter-btn__desc_sub {
    margin-left: 10px;
}