@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    local("Raleway-Medium"),
    local("Raleway Medium"),
    url("../../fonts/Raleway-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    local("Raleway-Medium"),
    local("Raleway Medium"),
    url("../../fonts/Raleway-Medium.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    local("Raleway-MediumItalic"),
    local("Raleway MediumItalic"),
    url("../../fonts/Raleway-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:
    local("Cormorant Garamond"),
    local("CormorantGaramond-Medium"),
    local("Cormorant Garamond Medium"),
    url("../../fonts/CormorantGaramond-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:
    local("Cormorant Garamond"),
    local("CormorantGaramond-Bold"),
    local("Cormorant Garamond Bold"),
    url("../../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
