*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: var(--color-accent-bright) solid 2px;
  border-radius: 4px;
  outline-offset: 2px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}
