
:root {
  --color-background: 255 255 255;
  --color-text-basic: 0 0 0;
  --color-accent: 200 35 0;
  --color-accent-bright: 250 60 12;

  --font-family-basic: 'Raleway', 'Verdana', 'Geneva', sans-serif;
  --font-family-accent: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;

  --font-size-detail: 14px;
  --font-size-basic: 18px;
  --font-size-important: 22px;
  --font-size-subheading: 35px;
  --font-size-heading: 40px;

}
