.next-course {
    border-top: #b31a00 2px solid;
    border-bottom: #b31a00 2px solid;
    max-width: 1280px;
    margin-left:auto;
    margin-right: auto;
    display: grid;
    gap: 15px;
}
.next-course:nth-of-type(odd) {
    grid-template-areas: "image header"
                         "image info";
     grid-template-columns: 2fr 1fr;
}
.next-course:nth-of-type(even) {
    grid-template-areas: "header image "
                         "info image ";
    grid-template-columns: 1fr 2fr;
    text-align: right;
}



.next-course__course-name {
    text-transform: uppercase;
    grid-area: header;
    align-self: end;
    min-width: 300px;
}
.next-course__course-name-link {
    text-decoration: none;
    color: #b31a00;
}
.next-course__course-name-link:hover {
    color:#db583e;
}

.next-course__link-img {
    grid-area: image;
}
.next-course__img {
    display: block; 
    object-fit: cover;

    width: 100%;
    height: 100%; 
}

.next-course__info {
    grid-area: info;
    min-width: 300px;
    margin-bottom: 20px;
}

.next-course__dates {
    font-weight: bold;
    margin-bottom: 5px;
}

.next-course__desc {
    margin-bottom: 5px;
}

.next-course__details {
    margin-bottom: 25px;
    display: block;
    text-decoration: none;
    color: #b31a00;
}
.next-course__details:visited {
    color:#982007;
}
.next-course__details:hover {
    text-decoration: underline;
}

.next-course__price-book {
    width: max-content;
    margin: 0 auto;
}

.next-course__price {
    text-align: center;
}

.next-course__book {
    font-size: 15px;
    background-color: #b31a00;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-top: 10px;
}
.next-course__book:hover {
    background-color: #db583e;
}
.next-course__book:active {
    background-color: #982007;
}
