.upcoming-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.upcoming-course {
    padding: 15px 40px;
    border: rgb(var(--color-accent)) 1px solid;
    border-radius: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: var(--font-size-important);
    text-align: center;
}

.let-me-know {
    width: 25px;
    height: 25px;

    cursor: pointer;
    transform:  scale(1.5);
    transition: transform 0.3s;
}

.upcoming-course__let-me-know {
    position: relative;
    margin-right: 8px; 
}

.let-me-know:hover {
    transform: scale(1.8);
}
.let-me-know:active {
    transform: scale(1.3);
}

.let-me-know__icon {
    position: absolute;
    top: 47%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: opacity 0.3s, color 0.3s;
}

.let-me-know__icon_not-checked {
    opacity: 1;
}
.let-me-know__button:checked ~.let-me-know__icon_not-checked {
    opacity: 0;
}
.let-me-know__icon_checked {
    opacity: 0;
}
.let-me-know__button:checked ~ .let-me-know__icon_checked {
    opacity: 1;
    color: green;
}

