.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}

*[tabindex="0"]:focus {
    outline: none;
}
*[tabindex="0"]:focus-visible {
    outline:  #ff5f3f solid 2px;
    border-radius: 4px;
    outline-offset: 2px;
}

.material-icons-round.red {
    color: #b31a00;
}

img {
    max-width: 100%;
    height: auto;
}  
