/*  ПЕРЕМЕННЫЕ  */

:root {
    --color-background: 255 255 255;
    --color-text-basic: 0 0 0;
    --color-accent: 179 27 0;
    --color-accent-bright: 255 94 61;

    --font-family-basic: 'Raleway', 'Verdana', 'Geneva', sans-serif;
    --font-family-accent: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;

    --font-size-small: 14px;
    --font-size-basic: 20px;
    --font-size-subheading: 30px;
    --font-size-heading: 40px;

}

/*  ШРИФТЫ  */

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
        local("Raleway-Medium"),
        local("Raleway Medium"),
        url("../../fonts/Raleway-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
        local("Raleway-Medium"),
        local("Raleway Medium"),
        url("../../fonts/Raleway-Medium.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
        local("Raleway-MediumItalic"),
        local("Raleway MediumItalic"),
        url("../../fonts/Raleway-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: local("Cormorant Garamond"),
        local("CormorantGaramond-Medium"),
        local("Cormorant Garamond Medium"),
        url("../../fonts/CormorantGaramond-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: local("Cormorant Garamond"),
        local("CormorantGaramond-Bold"),
        local("Cormorant Garamond Bold"),
        url("../../fonts/CormorantGaramond-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/*  ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(0 0 0 0);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: -1px;
}

*[tabindex="0"]:focus {
    outline: none;
}
*[tabindex="0"]:focus-visible {
    outline:  rgb(var(--color-accent-bright)) solid 2px;
    border-radius: 4px;
    outline-offset: 2px;
}

.material-icons-round.red {
    color: rgb(var(--color-accent));
}

img {
    max-width: 100%;
    height: auto;
}  
