.buy-button {
    position: relative;
    margin-right: 5px;

    padding: 2px 2px;
    border: none;
    width: 35px;
    height: 35px;
    
    background-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;
}

.buy-button:hover {
    transform: scale(1.2);
}
.buy-button:active {
    transform: scale(0.8);
}
