.favorite-button {
    position: relative;

    padding: 2px 2px;
    border: none;
    width: 35px;
    height: 35px;
    
    background-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;
}

.favorite-button:hover {
    transform: scale(1.2);
}
.favorite-button:active {
    transform: scale(0.8);
}

.favorite-button__icon_border, 
.favorite-button__icon_checked {
    position: absolute;
    top: 4px;
	bottom: 0;
	left: 0;
	right: 0;
    transform: scale(1.2);
    
    transition: opacity 0.3s;
}

.favorite-button__icon_checked {
    color: rgb(var(--color-accent));
}

.favorite-button__icon_checked {
    opacity: 0;
}
.favorite-button:has(input:checked) .favorite-button__icon_checked {
    opacity: 1;
}