.buy-button {
  position: relative;
  margin-right: 5px;

  padding: 2px 2px;
  border: none;
  width: 35px;
  height: 35px;

  background-color: transparent;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }

}

.buy-button__checkbox {
  --icon-color: rgb(var(--color-text-basic));
  --icon-url: url(../../images/icons/stack.svg#basket_empty);

  position: relative;
  appearance: none;
  width: 25px;
  height: 25px;

  &:checked {
    --icon-color: rgb(var(--color-accent));
    --icon-url: url(../../images/icons/stack.svg#basket_full);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--icon-color);
    mask-image: var(--icon-url);
  }
}
