.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: color-opacity(var(--color-text-basic), 0.2);
  backdrop-filter: blur(5px);
}

.disclaimer__container {
  padding: 45px;
  max-width: 60vw;
  max-height: 60vh;
  border: 2px solid var(--color-accent);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
}

.disclaimer__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-family-accent;
  font-size: var(--font-size-subheading);
  font-weight: 700;
  text-align: center;
  color: var(--color-accent);
}

.disclaimer__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: $font-family-basic;
  font-size: var(--font-size-important);
  text-align: center;
}

.disclaimer__close {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  font-size: var(--font-size-important);
  background-color: var(--color-accent);
  color: var(--color-background);

  cursor: pointer;
  transition: background-color 0.3s;
}

.disclaimer__close:hover {
  background-color: var(--color-accent-bright);
}

.disclaimer__close:active {
  background-color: var(--color-accent);
}
