.header *:focus {
  border-radius: 5px;
  outline: 1px var(--color-background);
  outline-offset: 5px;
}

.header *:focus-visible {
  border-radius: 5px;
  outline: 1px var(--color-background);
  outline-offset: 5px;
  box-shadow: var(--color-background) 0 0 3px 3px;
}

.header {
  z-index: 3;
  height: 108px;

  background-image: image-set(
    url("../../images/stroke-header@1x.webp") 1x type("image/webp"),
    url("../../images/stroke-header@2x.webp") 2x type("image/webp"),
    url("../../images/stroke-header@1x.png") 1x,
    url("../../images/stroke-header@2x.png") 2x,
  );
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-nav {
  display: flex;
  max-width: 1280px;
  min-width: 650px;
  padding: 10px 50px 17px 50px;
  justify-content: space-between;
  align-items: center;
}

.header__main-nav {
  margin: 0 auto;
}

.main-nav__logo-link {
  flex-shrink: 0;
  transition: transform 0.3s;
}

.main-nav__logo-link:hover {
  transform: scale(1.2);
}

.main-nav__logo-link:active {
  transform: scale(0.9);
}

.main-nav__site-navigation-item {
  position: relative;
}

.main-nav__site-navigation {
  margin: 0 40px;

  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px 40px;

  list-style: none;
}

.main-nav__site-nav-link {
  position: relative;

  display: block;
  padding: 5px 10px;

  font-family: $font-family-accent;
  font-size: var(--font-size-important);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-background);

  transition: transform 0.3s;
}

.main-nav__site-nav-link:active {
  transform: scale(0.8);
}

.main-nav__site-nav-link:not(.dropdown__target)::after {
  content: "";

  position: absolute;
  top: 25px;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 1px;

  background-color: var(--color-background);
  opacity: 0;

  transition: top 0.3s linear, opacity 0.3s linear;
}

.main-nav__site-nav-link:hover::after,
.main-nav__site-nav-link_current::after {
  top: 100%;
  height: 2px;
  opacity: 1;
}

.main-nav__site-nav-tooltip {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  padding: 3px 6px;
  width: 100%;
  border: 2px dotted var(--color-background);
  border-top: none;
  border-radius: 5px;

  font-size: var(--font-size-detail);
  text-align: center;
  color: var(--color-background);
  background-color: var(--color-accent);
  opacity: 0;

  transition: top 0.3s linear, transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.main-nav__site-nav-link:hover ~ .main-nav__site-nav-tooltip,
.main-nav__site-nav-link:focus ~ .main-nav__site-nav-tooltip {
  top: 100%;
  opacity: 0.8;
}

.main-nav__site-nav-link:active ~ .main-nav__site-nav-tooltip {
  top: 110%;
  transform: translateX(-50%) translateY(-20%) scale(0.8);
  opacity: 0.8;
}

.main-nav__user-navigation {
  margin: 0;

  min-width: 140px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;

  list-style: none;
}

.main-nav__profile-btn {
  position: relative;

  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
  mask-image: var(--icon-url);

  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }

  &_cart {
    --icon-url: url(../../images/icons/stack.svg#shopping_cart);
  }

  &_login {
    --icon-url: url(../../images/icons/stack.svg#login);
  }

  &_user {
    --icon-url: url(../../images/icons/stack.svg#account_circle);
  }
}

.main-nav__profile-tooltip {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  padding: 3px 6px;
  border: 1px solid var(--color-background);
  border-radius: 5px;

  color: var(--color-background);
  font-size: var(--font-size-basic);
  opacity: 0;
  background-color: var(--color-accent);

  pointer-events: none;
  transition: top 0.3s, opacity 0.3s;
}

.main-nav__profile-icon:hover ~ .main-nav__profile-tooltip,
.main-nav__profile-btn:focus .main-nav__profile-tooltip {
  top: 110%;
  opacity: 1;
}

.user-icon {
  color: var(--color-background);

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}
