.main {
  padding: 0 20px;
  width: 90vw;
  max-width: 1280px;
  min-width: 650px;
}

.main__block {
  margin-bottom: 60px;
}

.heading {
  padding: 0;
  font-family: $font-family-accent;
  text-align: center;
  color: var(--color-accent);
}

.main__heading {
  margin: 0;
  margin-bottom: 10px;
}

.heading_hero {
  font-size: var(--font-size-heading);
}

.heading_article {
  font-size: var(--font-size-subheading);
}

.lead {
  font-size: var(--font-size-important);
  text-align: center;
}

.main__lead {
  margin-bottom: 10px;
}

.main__next-course {
  margin-bottom: 10px;
}

.main__upcoming-courses {
  margin-top: 20px;
}
