.next-course {
  border: var(--color-accent) 2px solid;
  border-left: none;
  border-right: none;
  max-width: 1280px;
  display: grid;
  gap: 15px;
  text-align: center;
}

.next-course:nth-of-type(odd) {
  grid-template-areas: "image info";
  grid-template-columns: 2fr 1fr;
}

.next-course:nth-of-type(even) {
  grid-template-areas: "info image ";
  grid-template-columns: 1fr 2fr;
}

.next-course__link-img {
  grid-area: image;
}

.next-course__img {
  display: block;
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.next-course__info {
  grid-area: info;
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-course__course-name {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-family-accent;
  font-size: var(--font-size-important);
  font-weight: 700;
  text-transform: uppercase;
}

.next-course__course-name-link {
  text-decoration: none;
  color: var(--color-accent);
}

.next-course__course-name-link:hover {
  color: var(--color-accent-bright);
}

.next-course__dates {
  margin-bottom: 15px;

  font-weight: 700;
}

.next-course__desc {
  margin-bottom: 5px;
}

.next-course__details {
  margin-bottom: 25px;

  display: block;
  color: var(--color-accent);
  text-decoration: none;
}

.next-course__details:visited {
  color: var(--color-accent);
}

.next-course__details:hover {
  color: var(--color-accent-bright);
}

.next-course__price {
  margin-bottom: 15px;

  font-size: var(--font-size-important);
}

.next-course__price::after {
  content: "	\20BD";
}

.next-course__book {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  font-size: var(--font-size-important);
  background-color: var(--color-accent);

  cursor: pointer;
  transition: background-color 0.3s;
}

.next-course__book:hover {
  background-color: var(--color-accent-bright);
}

.next-course__book:active {
  background-color: var(--color-accent);
}
