.packs-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  list-style: none;
}

.pack-card {
  padding: 10px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px color-opacity(var(--color-accent), 0.5);
  display: grid;
  grid-template-areas:
    "cover"
    "name"
    "price-n-btns";
  gap: 10px 20px;
}

.pack-card:hover {
  box-shadow: 0 0 3px 1px color-opacity(var(--color-accent), 0.8);
}

.pack-card__img-link {
  grid-area: cover;
  height: 160px;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  gap: 10px;
}

.pack-card__cover {
  height: 160px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pack-card__name {
  margin: auto 0;

  padding: 0;
  grid-area: name;
  font-size: var(--font-size-basic);
}

.pack-card__name-link {
  text-decoration: none;
  color: var(--color-accent);
}

.pack-card__name-link:hover {
  color: var(--color-accent-bright);
}

.pack-card__price-n-btns {
  display: flex;
  grid-area: price-n-btns;
  justify-self: end;
  margin: auto 0;
}

.pack-card__price {
  margin-right: 20px;
  align-self: center;
}

.pack-card__price::after {
  content: "	\20BD";
}

/* УВЕЛИЧЕННЫЙ ЗУМ */

.pack-market:has(.zoom-btn__checkbox:checked) .pack-card {
  width: 390px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 390px 1fr;
  grid-template-areas:
    "cover cover"
    "name price-n-btns";
}

.pack-market:has(.zoom-btn__checkbox:checked) .pack-card__img-link,
.pack-market:has(.zoom-btn__checkbox:checked) .pack-card__cover {
  height: 390px;
}

/* ВИД ФОРМАТА СПИСОК */

.pack-market:has(.view-btn__checkbox:checked) .pack-card {
  width: 100%;
  grid-template-columns: auto;
  grid-template-areas:
    "cover cover"
    "name price-n-btns";
}

.pack-market:has(.view-btn__checkbox:checked) .pack-card__img-link {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* размер колонок в случае увеличенного зума */
.pack-market:has(.zoom-btn__checkbox:checked) .pack-card__img-link {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* СООБЩЕНИЕ */

.pack-list-message {
  font-size: var(--font-size-important);
}
