.sorting {
  padding: 5px;
  box-shadow: 0 5px 5px 7px var(--color-background);
  background-color: var(--color-background);
  text-align: right;
}

.pack-market__sorting {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 10px auto;
}

.sorting__title {
  margin: 0;
  padding-right: 10px;
  display: inline;
  font-size: 18px;
}

.sort-options {
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.sort-order-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  width: 20px;
  height: 40px;
}

.sorting__sort-order-btn {
  position: relative;
  margin-left: 10px;
}

.sort-order-btn:has(.sort-order-btn__checkbox:focus-visible) {
  outline: var(--color-accent-bright) solid 2px;
  border-radius: 4px;
  outline-offset: 2px;
}

.sort-order-btn__icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sort-order-btn__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-120%) translateX(-50%);
  width: 0;
  height: 0;
  display: inline-block;

  border: 7px solid transparent;
  border-top-width: 0;
  border-bottom: 15px solid var(--color-accent);

  opacity: 0.5;
}

.sort-order-btn__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(20%) translateX(-50%);
  width: 0;
  height: 0;
  display: inline-block;

  border: 7px solid transparent;
  border-bottom-width: 0;
  border-top: 15px solid var(--color-accent);

  opacity: 1;
}

.sort-order-btn__checkbox:checked + .sort-order-btn__icon::before {
  opacity: 1;
}

.sort-order-btn__checkbox:checked + .sort-order-btn__icon::after {
  opacity: 0.5;
}


.view-btn {
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.view-btn:has(.view-btn__checkbox:focus-visible) {
  outline: var(--color-accent-bright) solid 2px;
  border-radius: 4px;
  outline-offset: 5px;
}

.view-btn__checkbox {
  --icon-url: url(../../images/icons/stack.svg#view_list);

  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;

  &:checked {
    --icon-url: url(../../images/icons/stack.svg#view_module);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-accent);
    mask-image: var(--icon-url);
  }
}

.view-btn__icon_view-list,
.view-btn__icon_view-module {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  vertical-align: middle;
  user-select: none;
}

.view-btn__checkbox:checked ~ .view-btn__icon_view-list,
.view-btn__checkbox:not(:checked) ~ .view-btn__icon_view-module {
  opacity: 0;
}

.view-btn__icon_view-list:hover,
.view-btn__icon_view-module:hover {
  color: color-opacity(var(--color-accent), 0.8);
}

.view-btn__icon_view-list:active,
.view-btn__icon_view-module:active {
  color: color-opacity(var(--color-accent), 0.5);
}

.zoom-btn {
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.zoom-btn__checkbox {
  --icon-url: url(../../images/icons/stack.svg#zoom_in);

  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;

  &:checked {
    --icon-url: url(../../images/icons/stack.svg#zoom_out);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-accent);
    mask-image: var(--icon-url);
  }
}

.zoom-btn:has(.zoom-btn__checkbox:focus-visible) {
  outline: var(--color-accent-bright) solid 2px;
  border-radius: 4px;
  outline-offset: 5px;
}

.zoom-btn__icon_zoom-in,
.zoom-btn__icon_zoom-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  vertical-align: middle;
  user-select: none;
}

.zoom-btn__checkbox:checked ~ .zoom-btn__icon_zoom-in,
.zoom-btn__checkbox:not(:checked) ~ .zoom-btn__icon_zoom-out {
  opacity: 0;
}

.zoom-btn__icon_zoom-in:hover,
.zoom-btn__icon_zoom-out:hover {
  color: color-opacity(var(--color-accent), 0.8);
}

.zoom-btn__icon_zoom-in:active,
.zoom-btn__icon_zoom-out:active {
  color: color-opacity(var(--color-accent), 0.5);
}
