.upcoming-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.upcoming-course {
  padding: 15px 40px;
  border: var(--color-accent) 1px solid;
  border-radius: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: var(--font-size-important);
  text-align: center;
}

.let-me-know {
  width: 25px;
  height: 25px;

  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.3s;
}

.upcoming-course__let-me-know {
  position: relative;
  margin-right: 8px;
}

.let-me-know:hover {
  transform: scale(1.8);
}

.let-me-know:active {
  transform: scale(1.3);
}

.let-me-know__icon {
  position: absolute;
  top: 48%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, color 0.3s;
}

.let-me-know__icon_not-checked {
  opacity: 1;
}

.let-me-know__button {
  --icon-color: var(--color-text-basic);
  --icon-url: url(../../images/icons/stack.svg#alarm);

  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;

  &:checked {
    --icon-color:  #008000;
    --icon-url: url(../../images/icons/stack.svg#alarm_on);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--icon-color);
    mask-image: var(--icon-url);
  }
}
